@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Amita&display=swap');

/* Add background color to the top navigation */
.top-nav {
    position: relative;
    background-color: #46413B;
    overflow: hidden;
}
  
  /* Add style to the navigation bar */
.top-nav a {
    float: left;
    color: #F7F7F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.top-nav a:hover {
    background-color: #BEBBB6;
    color: #46413B;
}
  
.top-nav a.active {
    background-color: #F7F7F5;
    color: #46413B;
}
  
.top-nav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.top-nav-right {
    float: right;
}

/* Add font to Header and "a" */

h1 {
    font-family: Amita, sans-serif;
}

a {
    font-family: Raleway, sans-serif;
}

/* For medium screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    .top-nav a, .top-nav-right {
      float: none;
      display: block;
    }
  
    .top-nav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}

/* hero image and cover text */
#hero-container{
    width: 100%;
    height: auto;
    background: url(../images/main-cover.jpg) no-repeat center center;
   
}
#yoga-banner img{
    width: 100%;
    height:auto;
    position:relative;
}